<launch>
    <!--input arguments-->
    <arg name="uncertainty" default="0.0"/>
    <arg name="alpha" default="0.0" />
    <arg name="gamma" default="0.9" />
    <arg name="beta" default="0.1"/>
    <arg name="sim_time" default="50" />
    <arg name="max_pos_error" default="0.5" /> <!--info="milimeters"-->
    <arg name="max_jerk" default="1" /> 
    <arg name="max_ori_error" default="0.5" /> <!--info="degrees"-->
    <arg name="record_rosbag" default="false"/>
    <arg name="exp" default="exp1"/>
    <arg name="control_method" value="PD"/>
    <arg name="trajectory" default="circular"/> <!-- circular or dataset_xy (x:{1,2,3,4}, y:{r,l})-->

    <!-- Load nominal robot model-->
    <param name="nominal_ur5_urdf" value="$(find ur5_description)/urdf/ur5_uncertainty_0.urdf"/>

    <!-- Load real robot model-->
    <group if="$(eval arg('uncertainty')==0)">
        <param  name="robot_description" textfile="$(find ur5_description)/urdf/ur5_uncertainty_0.urdf"/>
        <param  name="real_ur5_urdf" value="$(find ur5_description)/urdf/ur5_uncertainty_0.urdf"/>    
    </group> 
    <group if="$(eval arg('uncertainty')==25)">
        <param  name="robot_description" textfile="$(find ur5_description)/urdf/ur5_uncertainty_25.urdf"/>
        <param  name="real_ur5_urdf" value="$(find ur5_description)/urdf/ur5_uncertainty_25.urdf"/>       
    </group> 
    <group if="$(eval arg('uncertainty')==50)">
        <param  name="robot_description" textfile="$(find ur5_description)/urdf/ur5_uncertainty_50.urdf"/>  
        <param  name="real_ur5_urdf" value="$(find ur5_description)/urdf/ur5_uncertainty_50.urdf"/>     
    </group> 
    <group if="$(eval arg('uncertainty')==75)">
        <param  name="robot_description" textfile="$(find ur5_description)/urdf/ur5_uncertainty_75.urdf"/>
        <param  name="real_ur5_urdf" value="$(find ur5_description)/urdf/ur5_uncertainty_75.urdf"/>       
    </group>         
    <group if="$(eval arg('uncertainty')==100)">
        <param  name="robot_description" textfile="$(find ur5_description)/urdf/ur5_uncertainty_100.urdf"/>
        <param  name="real_ur5_urdf" value="$(find ur5_description)/urdf/ur5_uncertainty_100.urdf"/>       
    </group>     

    <!--Run rosnode with PD control method-->
    <node name="pd_node" output="screen" type="new_cartesian_PDi_UR5" pkg="motion_ur5_rviz" >
        <param name="uncertainty" value="$(arg uncertainty)"/>  
        <param name="alpha" value="$(arg alpha)" />
        <param name="gamma" value="$(arg gamma)" />
        <param name="beta" value="$(arg beta)" />     
        <param name="sim_time" value="$(arg sim_time)"/>
        <param name="max_pos_error" value="$(arg max_pos_error)" />
        <param name="max_ori_error" value="$(arg max_ori_error)" /> 
        <param name="max_jerk" value="$(arg max_jerk)" /> 
        <param name="data_path" value="$(find motion_ur5_rviz)/experiments/$(arg exp)/data/$(arg control_method)/$(arg trajectory)"/>
        <param name="image_path" value="$(find motion_ur5_rviz)/experiments/$(arg exp)/images/$(arg control_method)/$(arg trajectory)"/>
        <param name="video_path" value="$(find motion_ur5_rviz)/experiments/$(arg exp)/videos/$(arg control_method)/$(arg trajectory)"/>
        <param name="trajectory" value="$(arg trajectory)" /> 
    </node>

    <!--Publish robot state: TF transformations-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
    
    <!--Record data using rosbag-->
    <node pkg="rosbag" type="record" name="record" 
          args="record -O $(find motion_ur5_rviz)/experiments/$(arg exp)/bags/$(arg control_method)/$(arg trajectory)/uncertainty_$(arg uncertainty)_alpha_$(arg alpha)_time_$(arg sim_time)
          /joint_states 
          /visualization_marker" 
          if="$(eval record_rosbag)" /> 

    <!-- Open Rviz with config -->   
    <node name="custom_rviz" pkg="custom_rviz" type="custom_rviz" output="screen" >
        <param name="sim_time" value="$(arg sim_time)"/>
    </node>       
    <node name="custom_plotter" pkg="custom_rviz" type="custom_plotter" output="screen" >
        <param name="sim_time" value="$(arg sim_time)"/>
    </node>              
    <!--Open Rviz with config
    <arg name="config_file" value="$(find ur5_description)/config/journal_config_ur5.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d$(arg config_file)"/>--> 
</launch>