<launch>
    <!--input arguments-->
    <arg name="experiment"/>
    <arg name="control_method"/>
    <arg name="uncertainty" />
    <arg name="alpha" />
    <arg name="sim_time"/>
    <arg name="trajectory"/>

    <!--Open Rviz with config--> 
    <arg name="config_file" value="$(find ur5_description)/config/journal_config_ur5.rviz"/>
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d$(arg config_file)"/>

    <!-- Load nominal robot model-->
    <param  name="robot_description" textfile="$(find ur5_description)/urdf/ur5_uncertainty_0.urdf"/>
    
    <!--Publish robot state: TF transformations-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

    <!-- Publish robot states from rosbag  --> 
    <node pkg="rosbag" type="play" name="rosbag" 
          args="$(find motion_ur5_rviz)/experiments/$(arg experiment)/bags/$(arg control_method)/$(arg trajectory)/uncertainty_$(arg uncertainty)_alpha_$(arg alpha)_time_$(arg sim_time).bag"/>
    
</launch>